<!DOCTYPE html>
<html ng-app="MyApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Form validation</title>
    <script src="../app/vendors/angular/angular.min.js"></script>
    <script src="js/formValidation.js"></script>
</head>
<body ng-controller="ValidationController">
    <div class="container">
        <h2>Form Validation</h2>

        <form name="form" class="css-form">
            <div ng-if="invalidName || invalidEmail || !acceptCheckbox" class="alert alert-danger" role="alert" ng-show="form.$submitted">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                There are some errors, please correct them below
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input id="name" ng-model="name" ng-change="onNameChange()" type="name" class="form-control" required placeholder="Enter your Name">
                <div ng-if="invalidName" ng-show="form.$submitted">Name cannot contain numbers!</div>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" ng-model="email" ng-change="onEmailChange()" type="email" class="form-control" required placeholder="Enter your Name">
                <div ng-if="invalidEmail" ng-show="form.$submitted">Email lengh cannot be higher than 20 characters!</div>
            </div>
            <div class="checkbox">
                <label><input ng-model="acceptCheckbox" ng-change="onAcceptChange()" type="checkbox"> Accept Terms</label>
                <div ng-if="!acceptCheckbox" ng-show="form.$submitted">Terms need to be accepted!</div>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</body>
</html>