<div class="templatemo-sidebar" ng-if="isLogged">
    <header class="templatemo-site-header">
        <h1>Admin Template</h1>
    </header>
    <div class="profile-photo-container">
        <div class="profile-photo-overlay"></div>
    </div>
    <div class="mobile-menu-icon">
        <i class="fa fa-bars"></i>
    </div>
    <nav class="templatemo-left-nav">
        <ul>
            <li ng-repeat="item in dashboardItems">
                <a href="{{item.url}}" class="active"><i ng-class="item.icon" class="fa fa-fw"></i>{{item.title}}</a>
            </li>
        </ul>
    </nav>
</div>